/* .navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    background-color: rgb(92, 90, 102);
} */

.navbar{
  

    background-color: rgb(236, 231, 231);
        padding: 0px;
        padding-top: 0;
        padding-bottom: 0;
       
    
 
  

      }

.navbar a:hover{
    background-color: bisque;
    color: black;
}

      .navbar a{
        font-size: 15px;
          display:inline-block;
          text-align: center;
        color: brown;
     margin-right: 15px;
       
       
      
       text-decoration: none;
      }

    .navbar a.active{
         background-color: green;
         color: coral;
    }
    .img{
        display: inline-block;
        margin-right:400px;
        margin-top: 4px;
     
    }
section{
    display: inline;
    color: blueviolet;
    margin-right: 33px;
}



.qqq{
margin-left: 350px;
background-color: gray;
color:white;

        padding-bottom: 400px;
        padding-bottom: 0;
}
/* .img ,.qqq{
    display: inline;
} */